@font-face {
  font-family: "OpenDyslexic";
  src: url("../assets/opendyslexic/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body.dyslexic-mode {
  font-family: "OpenDyslexic", sans-serif !important;
}
